 
 
 <div class="row">
    <div class="header col-md-4 d-flex align-items-center justify-content-center py-2">
      <h2> celebrity</h2>
      <h1>trending</h1>
    </div>
      <div class="col-md-2 col-4 py-3  text-center">
       <img src="../../assets/1.jpg" alt="actor" class="w-100 rounded-lg mx-2">
       <h5 class="pt-3 overlay">Johnny Depp</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/2.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Brad Bitt</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/3.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Leonardo DiCaprio</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/4.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Robert De Niro</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/5.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Matt Damon</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/6.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Tom Hanks</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/7.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Will Smith</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/8.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">George Clooney</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/9.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Robert Downey, Jr.</h5>
      </div>
      <div class="col-md-2 col-4 py-3  text-center">
        <img src="../../assets/10.jpg" alt="actor" class="w-100 rounded-lg mx-2">
        <h5 class="pt-3 overlay">Christian Bale</h5>
      </div>
  </div>


  