.header h2{
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    font-size: 40px;
    font-weight: 900;
}
.header h1{
    position: absolute;
    color: #f4b2b08c;
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
    padding-bottom: 35px;
    font-weight: 900;
}