$movieMainColor:#c8c8c8;
.header h2{
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    font-size: 30px;
    font-weight: 900;
}
.header  h1{
    position: absolute;
    color: #f4b2b08c;
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
    padding-bottom: 35px;
    font-weight: 900;
}
.tv .img img{
    border-radius: 5px;
}
a
{
    color:$movieMainColor ;
    text-decoration: none;
}
.tv p{
    color: #c8c8c8;
}

.tv{
    position:  relative ;
    cursor: pointer;
    z-index: 1;
}
.tv .img{
    position: relative;
    cursor: pointer;
}

.overlay{
    background-color: #F4B2B0;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 4;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transform: translatey(-100);
    transition: all .3s ease-in-out;
}
.overlay h4{
    color: #ffffff !important;   
}
.tv:hover .overlay{
    opacity: .8;
    top: 0;
}

